
<div class="table_list">
  <h2> ADMINISTRADOR </h2>
 
  <!-- CONTENIDO DE ADMINSITRADOR -->
  <mat-card class="Card_Post">
    <mat-card-title>PRECIOS</mat-card-title>
    <mat-card-subtitle>Adminsitrar Precios</mat-card-subtitle>  
  </mat-card>

  <mat-card class="Card_Post">
    <mat-card-title>PRODUCTOS</mat-card-title>
    <mat-card-subtitle>Gestionar productos a vender</mat-card-subtitle>  
  </mat-card>


  <mat-card class="Card_Post">
    <mat-card-title>Imagenes</mat-card-title>
    <mat-card-subtitle>Cambiar o actualziar las fotos de portada o producto</mat-card-subtitle>  
  </mat-card>



  <div class="table_list">
    <button  mat-raised-button [color]="'primary'" (click)="onReturn()">  <mat-icon>reply</mat-icon>  Volver al Landing</button>  
  </div> 
</div>

